<div class="container">
  <div class="row">
    <div class="col-md-12">
    <hr>
    <h1>Create a new customer
      <div class="pull-right">
      <button class="btn btn-outline-success" (click)="back()">
        Back
      </button>
      </div>
    </h1>
    <hr>
    </div>

    <h2>

    </h2>

    <div>
      <form (ngSubmit)="save()" [formGroup]="customerGroup" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12">Firstname:
            <input class="form-control col-md-12" formControlName="firstName">
          </label>
          <div *ngIf="customerGroup.controls['firstName'].invalid
          && (customerGroup.controls['firstName'].dirty ||
           customerGroup.controls['firstName'].touched)" class="alert alert-danger">
            <div *ngIf="customerGroup.controls['firstName'].errors.required">
              Hey you! Please insert the name!
            </div>
            <div *ngIf="customerGroup.controls['firstName'].errors.minlength">
              Name must be at least 4 characters long.
            </div>

          </div>
          <label class="center-block col-md-12">Lastname:
            <input class="form-control" formControlName="lastName">
          </label>


          <h5>
          <button
            [disabled]="customerGroup.invalid"
            type="submit"
            class="btn btn-outline-info pull-right">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
          </h5>
        </div>
      </form>
      <ngb-alert class="center-block col-md-12" *ngIf="customerWasCreated" (close)="closeAlert()"  type="info">Wow! You just created a customer!</ngb-alert>


    </div>
  </div>
</div>
